<p id="notice"><%= notice %></p>

<p>
  <strong>Links:</strong>
  <%= @tier_one_link.links %>
</p>

<%= link_to 'Edit', edit_tier_one_link_path(@tier_one_link) %> |
<%= link_to 'Back', tier_one_links_path %>
